@page
@model PragmatismModel
@{

    ViewData["Title"] = "Pragmatism";
}
<h1>Pragmatism</h1>
<a href="https://en.wikipedia.org/wiki/Pragmatism">https://en.wikipedia.org/wiki/Pragmatism</a>
<hr />

<h2>Pragmatism</h2>

<p>From Wikipedia, the free encyclopedia</p>

<p>
    This article is about the philosophical movement. For other uses, see Pragmatism (disambiguation).
</p>

<div>
    <p>
        <strong>Pragmatism</strong> is a philosophical tradition that began in the United States around 1870.
        Its origins are often attributed to the philosophers William James,
        John Dewey, and Charles Sanders Peirce. Peirce later described it in his
        pragmatic maxim:
        <br />
        <span style="color:darkblue">
            <em>
                "Consider the practical effects of the objects of your conception.
                Then, your conception of those effects is the whole of your conception of the object."
            </em>
        </span>
    </p>
</div>

<hr />
<img src="~/images/Philbar_3.png" alt="Pragmatism" />
<hr />

<h3 style="color:red">Origin</h3>
<p>
    Pragmatism considers thought as an instrument or tool for prediction,
    problem solving and action, and rejects the idea that the function of thought is to describe,
    represent, or mirror reality.

    <h4 style="color:red">First Origin</h4>
    Pragmatists contend that most philosophical topics—such as the nature of knowledge, language,
    concepts, meaning, belief, and science—are all best viewed in terms of their practical uses and successes.
    <h5 style="color:red">Second Origin</h5>
    The philosophy of pragmatism "emphasizes the practical application of ideas by acting on them to actually test them
    in human experiences".
    <h6 style="color:red">Third Origin</h6>
    <small>
        Pragmatism focuses on a "changing universe rather than an unchanging one as the Idealists, Realists and Thomists had claimed".
    </small>
</p>

<h3>Philosophy of science</h3>

<p>
    In the philosophy of science, instrumentalism is the view that concepts and theories are merely useful
    instruments and progress in science cannot be couched in terms of concepts and theories somehow mirroring reality.
    Instrumentalist philosophers often define scientific progress as nothing more than an improvement in explaining
    and predicting phenomena. Instrumentalism does not state that truth does not matter,
    but rather provides a specific answer to the question of what truth and falsity mean and how they function in science.
</p>
<p>
    One of C. I. Lewis' main arguments in Mind and the World Order: Outline of a Theory of Knowledge (1929)
    was that science does not merely provide a copy of reality but must work with conceptual
    systems and that those are chosen for pragmatic reasons, that is, because they aid inquiry.
    Lewis' own development of multiple modal logics is a case in point.
    Lewis is sometimes called a proponent of conceptual pragmatism because of this.
</p>