@page
@model CoreCrud.Pages.LunchBoxes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>LunchBox</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LunchBox.Id" />
            <div class="form-group">
                <label asp-for="LunchBox.LunchBoxName" class="control-label"></label>
                <input asp-for="LunchBox.LunchBoxName" class="form-control" />
                <span asp-validation-for="LunchBox.LunchBoxName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBox.SoldDate" class="control-label"></label>
                <input asp-for="LunchBox.SoldDate" class="form-control" />
                <span asp-validation-for="LunchBox.SoldDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBox.IsMicrowaveSafe" class="control-label"></label>
                <input asp-for="LunchBox.IsMicrowaveSafe" class="form-control" />
                <span asp-validation-for="LunchBox.IsMicrowaveSafe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBox.Price" class="control-label"></label>
                <input asp-for="LunchBox.Price" class="form-control" />
                <span asp-validation-for="LunchBox.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBox.Weight" class="control-label"></label>
                <input asp-for="LunchBox.Weight" class="form-control" />
                <span asp-validation-for="LunchBox.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBox.Description" class="control-label"></label>
                <input asp-for="LunchBox.Description" class="form-control" />
                <span asp-validation-for="LunchBox.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBox.ManufacturerId" class="control-label"></label>
                <select asp-for="LunchBox.ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerName"></select>
                <span asp-validation-for="LunchBox.ManufacturerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
