@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h3>@Model.Message</h3>
<hr/>
<div>
<p>

MusclePro conceived in July 2018 with aim of evolving as a community of fitness enthusiasts that 
are focused on embracing and propagating the culture of fitness to one and all, has rapidly spread it’s footprint across Cincinnati.
</p>

<p>Driven by its highly qualified, experienced and enthusiastic trainers, numbering over 10, MusclePro stands apart from regular gyms 
by breaking the monotony of repetitive workouts. The workouts are made both enjoyable and effective for every individual they engage, through cross functional training, group sessions, HIIT, 
endurance training, and much more. Further, through its ‘M-PRO’ model of functional fitness, it endeavours to create the perfect 
balance between Mind-Body-Soul and make fitness a lifestyle choice.
</p>

<div> 
    <hr/>

    <h3 align="center"> <strong>TEAM MEMBERS </strong> <h3>

            <table width="100%" cellspacing="2px"  style="border-spacing: 10px;">
      <tr>
         <td align="center">
           <img src="~/images/Headshot1.jpg" style="height:290px; width:250px" />
         </td>

          <td align="center">
           <img src="~/images/Headshot1.jpg" style="height:290px; width:250px" />
         </td>

          <td align="center">
           <img src="~/images/Headshot1.jpg" style="height:290px; width:250px" />
         </td>
         
      </tr>

      <tr>
         <td align="center">
           <strong>Prasad Rane</strong>
         </td>

          <td align="center">
           <strong>Karan Ghadge</strong>
         </td>

          <td align="center">
    <strong>Kunal Indore</strong>
         </td>  
   </table>
</div>

