@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h3>@Model.Message</h3>
<div>
<p>

MusclePro conceived in July 2018 with aim of evolving as a community of fitness enthusiasts that 
are focused on embracing and propagating the culture of fitness to one and all, has rapidly spread it’s footprint across Cincinnati.
</p>

<p>Driven by its highly qualified, experienced and enthusiastic trainers, numbering over 10, MusclePro stands apart from regular gyms 
by breaking the monotony of repetitive workouts. 
The workouts are made both enjoyable and effective for every individual they engage, through cross functional training, group sessions, HIIT, 
endurance training, and much more. Further, through its ‘M-PRO’ model of functional fitness, it endeavours to create the perfect 
balance between Mind-Body-Soul and make fitness a lifestyle choice.
</p>
<p>
MusclePro has learnt from various traditional and neo fitness models such as HIIT, Yoga, MMA, Endurance Training, Dance, Calisthenics 
and evolved its own brand of exercise sciences based Functional Fitness model. The training methodology is a mix of both functional 
training and weight training used together as the best mix to help attain the client's fitness goals. 
</p>

<p>
    Our specially tailored programs to individual requirements and group sessions helps you build and achieve your fitness goals. 
We offer a complete holistic approach to fitness that targets all the different aspects of fitness like strength, stamina, endurance, 
flexibility, agility, speed and power, and is undoubtedly, the best way to experience fitness.
</p>
<div> 
    <hr/>

    <h3 align="center"> <strong>TEAM MEMBERS </strong> <h3>

            <table width="100%" cellspacing="2px"  style="border-spacing: 10px;">
      <tr>
         <td align="center">
           <img src="~/images/Headshot1.jpg" style="height:290px; width:250px" />
         </td>

          <td align="center">
           <img src="~/images/Headshot1.jpg" style="height:290px; width:250px" />
         </td>

          <td align="center">
           <img src="~/images/Headshot1.jpg" style="height:290px; width:250px" />
         </td>
         
      </tr>

      <tr>
         <td align="center">
           <strong>Prasad Rane</strong>
         </td>

          <td align="center">
           <strong>Karan Ghadge</strong>
         </td>

          <td align="center">
    <strong>Kunal Indore</strong>
         </td>  
   </table>
</div>

