@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2 class="text-muted" style="padding-top: 20px;">@Model.Message</h2>
<hr/>
<div>
<p><font color="black">
MusclePro conceived in July 2010 with aim of evolving as a community of fitness enthusiasts that 
are focused on embracing and propagating the culture of fitness to one and all, has rapidly spread it’s footprint across Cincinnati.
</p>

<p>Driven by its highly qualified, experienced and enthusiastic trainers, numbering over 10, MusclePro stands apart from regular gyms 
by breaking the monotony of repetitive workouts. The workouts are made both enjoyable and effective for every individual they engage, through cross functional training, group sessions, HIIT, 
endurance training, and much more. Further, through its ‘M-PRO’ model of functional fitness, it endeavours to create the perfect 
balance between Mind-Body-Soul and make fitness a lifestyle choice.
</p>

<div> 
    <hr/>

    <h3 align="center"> <strong>OUR TEAM</strong> <h3>

    <table width="100%" cellspacing="2px"  style="border-spacing: 10px;">
      <tr>
         <td align="center">
           <img src="~/images/prasad.jpg" alt="Prasad" style="height:290px; width:250px" />
         </td>

          <td align="center">
           <img src="~/images/Headshot1.jpg" alt="Karan" style="height:290px; width:250px" />
         </td>

          <td align="center">
           <img src="~/images/kunal.jpg" alt="Kunal" style="height:290px; width:250px" />
         </td>
         
      </tr>

      <tr>
         <td align="center">
           <strong>Prasad Rane</strong>
         </td>

          <td align="center">
           <strong>Karan Ghadge</strong>
         </td>

          <td align="center">
            <strong>Kunal Indore</strong>
         </td>
      </tr>
      <tr>
           <td align="center">
           <strong>CEO</strong>
         </td>

          <td align="center">
           <strong>CFO</strong>
         </td>

          <td align="center">
            <strong>CTO</strong>
         </td>
      </tr> 
   </table>
</div>
   <p>
   <ul>
        <li>Former Mr. Olympiad (2008), <strong><em>Prasad Rane</em></strong> embarked upon providing world class fitness regime for fitness enthusiasts at affordable prices. 
            Along with Karan Ghadge, Prasad's long time friend, he started MusclePro in near University of Cincinnati, ohio.
            In the initial days of our gym, Prasad himself acted as lead trainer while karan handled the financial and inventory of the Gym</li>
        <li>A long time friend of Prasad, <strong><em>Karan Ghadge</em></strong> Karan is a MBA graduate from University of Cincinnati and 
            co-founder of the MusclePro. Karan himself is a fitness freak and loves to hit the gym regularly. Apart from handling the finance, he is also responsible for 
            bringing creative ideas to increase the customer base of the gym</li>
        <li><strong><em>Kunal Indore</em></strong> joined MusclePro in 2012. Former employee of capgemini, Kunal is responsble for bringin IT
            into MusclePro. Kunal created this website, taking the presence of MusclePro on Internet and wide spreading the popularity of MusclePro.
            He handles the social media handles like twitter and facebook using these platforms for promotions</li>
   </ul>
   </p>
   </font>
</div> 


