@page
@model HelpModel
@{
    ViewData["Title"] = "Help";
}


<h2>Steps to search a schedule</h2>
<ul style="list-style-type:none">
  <li>On the Home Page, click on Search Schedule</li>
  <li> <img src="~/images/searchschedule1.png" height="350" width="1180"  />
  <li>Select the trainer and click on the 'Search Schedule' button</li>
  <li> <img src="~/images/searchschedule2.png" height="350" width="1180"  />
</ul>

<h2>Steps to search a customer</h2>
<ul style="list-style-type:none">
  <li>On the Home Page, click on Search Customer</li>
  <li> <img src="~/images/searchcust.png" height="350" width="1180"  /></li>
  <li>Enter the customer name and click on the 'Search Customer' button</li>
   <li> <img src="~/images/searchcust2.png" height="350" width="1180"  /></li>
</ul>

<h2>Steps to update a customer profile</h2>
<ul style="list-style-type:none">
  <li>Follow the steps to search a customer and click on the 'Update Profile' link</li>
  <li> <img src="~/images/updatecust.png" height="350" width="1180"  /></li>
  <li>Make the required changes and click on the 'Update Customer' button</li>
  <li> <img src="~/images/updatecust2.png" height="350" width="1180"  /></li>
</ul>

<h2>Steps to add a schedule</h2>
<ul style="list-style-type:none">
  <li>On the Home Page, click on Add Schedule</li>
  <li> <img src="~/images/addschedule.png" height="350" width="1180"  /></li>
  <li>Enter the trainer and timing details and click on the 'Add Schedule' button</li>
  <li> <img src="~/images/addschedule2.png" height="350" width="1180"  /></li>
</ul>