@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div align="middle"><img src="~/images/Logo2.jpg" height="300" width="500"></div>
    <hr />
    <h3>Welcome to our state-of-the-art Gym and fitness Training Center!!!</h3>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="height:400px;width:1150px">
        <div class="item active">
            <img src="~/images/8.jpg" alt="Dance Training" class="img-responsive" height="200" width="1200" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/4.jpg" alt="Studio Excerices" class="img-responsive" height="200" width="1200" class="img-responsive" />            
        </div>
        <div class="item">
            <img src="~/images/7.png" alt="Weight Training" class="img-responsive" height="200" width="1200" class="img-responsive" />            
        </div>
    </div>
</div>
<br />
<br />
<div>
    <p>The history of watches began in 16th century Europe, where watches evolved from portable spring-driven clocks, 
        which first appeared in the 15th century. The watch which developed from the 16th century to the mid 20th century 
        was a mechanical device, powered by winding a mainspring which turned gears and then moved the hands, and kept time with 
        a rotating balance wheel. The invention of the quartz watch in the 1960s, which ran on electricity and kept time with a vibrating 
        quartz crystal, proved a radical departure for the industry. During the 1980s quartz watches took over the market from mechanical 
        watches, an event referred to as the <strong>"quartz crisis"</strong>. Although mechanical watches still sell at the high end of the market, 
        the vast majority of watches now have quartz movements.</p>
</div>


