@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <!-- <div align="center"><img src="~/images/Logo2.jpg" height="320" width="1150"></div>
    <hr />
    <h3 align="center"><strong>A BAD DAY CAN BE MADE BETTER BY GOING TO THE GYM</strong></h3> -->


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="height:400px;width:1150px">
        <div class="item active">
            <img src="~/images/try.jpg" alt="Weight raining" class="img-responsive" height="200" width="1200" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/try2.jpg" alt="Zumba" class="img-responsive" height="200" width="1200" class="img-responsive" />            
        </div>
        <div class="item">
            <img src="~/images/try5.jpg" alt="Gym View" class="img-responsive" height="200" width="1200" class="img-responsive" />            
        </div>
            <div class="item">
            <img src="~/images/try7.jpg" alt="Crossfit" class="img-responsive" height="200" width="1200" class="img-responsive" />            
        </div>


    </div>
</div>
<br />
<br />
<div>
    <p>
MusclePro has learnt from various traditional and neo fitness models such as HIIT, Yoga, MMA, Endurance Training, Dance, Calisthenics 
and evolved its own brand of exercise sciences based Functional Fitness model. The training methodology is a mix of both functional 
training and weight training used together as the best mix to help attain the client's fitness goals. 
</p>

<p>
    Our specially tailored programs to individual requirements and group sessions helps you build and achieve your fitness goals.We offer a complete holistic approach to fitness that targets all the different aspects of fitness like strength, stamina, endurance, 
flexibility, agility, speed and power, and is undoubtedly, the best way to experience fitness.
</p>
</div>


