@page
@model CoreCrud.Pages.LunchBoxManufacturers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>LunchBoxManufacturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LunchBoxManufacturer.Id" />
            <div class="form-group">
                <label asp-for="LunchBoxManufacturer.Name" class="control-label"></label>
                <input asp-for="LunchBoxManufacturer.Name" class="form-control" />
                <span asp-validation-for="LunchBoxManufacturer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBoxManufacturer.IsSellingOnline" class="control-label"></label>
                <input asp-for="LunchBoxManufacturer.IsSellingOnline" class="form-control" />
                <span asp-validation-for="LunchBoxManufacturer.IsSellingOnline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBoxManufacturer.EstablishedOn" class="control-label"></label>
                <input asp-for="LunchBoxManufacturer.EstablishedOn" class="form-control" />
                <span asp-validation-for="LunchBoxManufacturer.EstablishedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBoxManufacturer.SalesRevenue" class="control-label"></label>
                <input asp-for="LunchBoxManufacturer.SalesRevenue" class="form-control" />
                <span asp-validation-for="LunchBoxManufacturer.SalesRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBoxManufacturer.Location" class="control-label"></label>
                <input asp-for="LunchBoxManufacturer.Location" class="form-control" />
                <span asp-validation-for="LunchBoxManufacturer.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchBoxManufacturer.CellPhone" class="control-label"></label>
                <input asp-for="LunchBoxManufacturer.CellPhone" class="form-control" />
                <span asp-validation-for="LunchBoxManufacturer.CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
